body {
  /*TODO Better font.*/
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding-top: 114px;
  color: #333333;
}

.anchor {
  display: block;
  height: 114px; /*same height as header*/
  margin-top: -114px; /*same height as header*/
  visibility: hidden;
}

.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 10;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 0;
}

.header__brand {
  text-decoration: none;
  color: #333333;
}

.header__brandTitle {
  font-size: 2.4rem;
  font-weight: bold;
}

.header__brandTagline {
  font-size: 1rem;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.nav__link,
.nav__link:active,
.nav__link:visited {
  font-weight: 500;
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 10px;
  color: #333;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #aaa;
}

.gallery {
  margin-top: 50px;
}

.gallery__row {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.gallery__item {
  display: block;
  text-decoration: none;
  color: #333333;
  flex-grow: 1;
}

.gallery__itemImage {
  height: 200px;
  width: 100%;
  background: #777;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.gallery__item:hover .gallery__itemImage {
  opacity: 1;
}

.gallery__itemTitle {
  font-weight: 500;
  text-align: center;
  margin: 16px 0;
}

.gallery__itemTitle::after {
  content: '';
  display: block;
  width: 7%;
  margin: 0 auto;
  margin-top: 10px;
  border-bottom: 1px solid #888;
  transition: width 0.3s;
}

.gallery__item:hover .gallery__itemTitle::after {
  width: 30%;
}

.about {
  background: #f7f7f7;
  text-align: center;
  padding: 80px;
}

.about__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 32px;
}

.about__info {
  font-size: 1.3rem;
  width: 60%;
  margin: 0 auto;
  line-height: 1.7;
}
