.profile {
  display: flex;
  padding-top: 30px;
}

.profile__imageContainer,
.profile__info {
  flex-grow: 1;
  flex-basis: 0;
}

.profile__imageContainer {

}

.profile__image {
  width: 100%;
}

.profile__info {
  padding: 0 30px;
  line-height: 1.7;
}

.profile__title {
  font-weight: bold;
  font-size: 1.4rem;
}

.profile__body {
  font-size: 1.0rem;
}
