body {
  /*TODO Better font.*/
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding-top: 87px;
  color: #333333;
}

.anchor {
  display: block;
  height: 87px; /* Ensure this is the same height as header */
  margin-top: -87px; /* Ensure this is the same height as header */
  visibility: hidden;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 10;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 0;
}

.header__brand {
  text-decoration: none;
  color: #333333;
}

.header__brandTitle {
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.nav__link,
.nav__link:active,
.nav__link:visited {
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-size: 1.0rem;
  margin: 10px;
  color: #333;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #aaa;
}

.hero__text {
  font-size: 3rem;
  text-align: center;
  padding: 180px 0;
  font-weight: bold;
  max-width: 600px;
  margin: 0 auto;
}

/* Typography */

.text {
  line-height: 1.7;
  font-size: 1rem;
  color: #666666;
  text-align: justify;
}

.text p:first-child {
  margin-top: 0;
}

a {
  color: #666666;
}
