body {
  /*TODO Better font.*/
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding-top: 130px;
  color: #333333;
}

.anchor {
  display: block;
  height: 130px; /*same height as header*/
  margin-top: -130px; /*same height as header*/
  visibility: hidden;
}

.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 10;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px 0;
}

.header__brand {
  text-decoration: none;
  color: #333333;
}

.header__brandTitle {
  font-size: 3rem;
  font-weight: bold;
}

.header__brandTagline {
  font-size: 1.3rem;
  font-weight: bold;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.nav__link,
.nav__link:active,
.nav__link:visited {
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-size: 1.0rem;
  margin: 10px;
  color: #333;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #aaa;
}

.gallery {
  margin-top: 50px;
}

.gallery__row {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.gallery__item {
  display: block;
  text-decoration: none;
  color: #333333;
  flex-grow: 1;
}

.gallery__itemImageContainer {
  width: 100%;
  transition: opacity 0.3s;
  text-align: center;
}

.gallery__item:hover .gallery__itemImageContainer {
  opacity: 0.7;
}

.gallery__itemImage {
  width: 100%;
}

.gallery__itemTitle {
  font-weight: bold;
  text-align: center;
  margin: 16px 0;

}

.gallery__itemTitle::after {
  content: '';
  display: block;
  width: 7%;
  margin: 0 auto;
  margin-top: 10px;
  border-bottom: 1px solid #888;
  transition: width 0.3s;
}

.gallery__item:hover .gallery__itemTitle::after {
  width: 30%;
}

.about {
  background: #f7f7f7;
  text-align: center;
  padding: 80px;
}

.about__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 32px;
}

.about__info {
  font-size: 1.3rem;
  width: 60%;
  margin: 0 auto;
  line-height: 1.7;
}


.breadcrumbs {
  font-size: 0.9rem;
  margin-top: 30px;
  font-weight: bold;
}

.breadcrumbs__link,
.breadcrumbs__link:active,
.breadcrumbs__link:visited {
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}

.breadcrumbs__divider {
  padding: 0 8px;
}

.breadcrumbs__page {
  color: #888888;
  font-weight: lighter;
}
