body {
  /*TODO Better font.*/
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding-top: 87px;
  color: #333333;
}

.anchor {
  display: block;
  height: 87px; /* Ensure this is the same height as header */
  margin-top: -87px; /* Ensure this is the same height as header */
  visibility: hidden;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 1050px) {
  .container {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 580px) {
  .container {
    padding: 0 20px;
  }
}

.container--full {
  padding-left: 0;
  padding-right: 0;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 10;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__brand {
  text-decoration: none;
  color: #333333;
}

.header__brandTitle {
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.nav__link,
.nav__link:active,
.nav__link:visited {
  font-weight: bold;
  display: block;
  text-decoration: none;
  font-size: 1.0rem;
  margin: 10px;
  color: #333;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #aaa;
}

.nav__link:last-child {
  margin-right: 0;
}

.hero__text {
  font-size: 3rem;
  text-align: center;
  padding: 180px 0;
  font-weight: bold;
  max-width: 600px;
  margin: 0 auto;
}

/* Responsive */
@media only screen and (max-width: 580px) {
  .header__container {
    flex-direction: column;
  }

  .nav {
    margin-top: 30px;
    justify-content: center;
  }

  .header {
    position: initial;
  }

  body {
    padding-top: 0;
  }

  .anchor {
    height: 0px; /* Ensure this is the same height as header */
    margin-top: -0px; /* Ensure this is the same height as header */
  }

  .hero__text {
    font-size: 2rem;
    padding: 80px 0;
  }
}

/* Typography */

.text {
  line-height: 1.7;
  font-size: 1rem;
  color: #666666;
  text-align: justify;
}

.text p:first-child {
  margin-top: 0;
}

a,
a:visited,
a:link,
a:active {
  color: #666666;
}
